<div class="well">
<h2>Show signup opened notification</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @signup_opened_notification.email %>
  </li>

</ul>

<%= link "Back", to: admin_signup_opened_notification_path(@conn, :index) %>
</div>