<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agile Coach Camp</title>
    <link href="http://fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="acc_container" role="main">

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Agile Coach Camp
            </a>
          </div>
          <ul class="nav navbar-nav">
        <li class="<%= menu_class(@conn, "page") %>"><a href="<%= page_path(@conn, :index) %>">Home<span class="sr-only">(current)</span></a></li>
        <li class="<%= menu_class(@conn, "organizer") %>"><a href="<%= organizer_path(@conn, :index) %>">Organizers<span class="sr-only">(current)</span></a></li>
        <li class="<%= menu_class(@conn, "program") %>"><a href="<%= programme_path(@conn, :index) %>">Program<span class="sr-only">(current)</span></a></li>
        <li class="<%= menu_class(@conn, "attendee") %>"style="visibility: hidden"><a href="#">Attendees<span class="sr-only">(current)</span></a></li>
        </div>
      </nav>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  </body>
</html>
