.sign_up_box, .program_box {
  /* background-color: #f5f5f5; */
}
.sign_up_box{
  visibility: hidden;

}
.date {
  background-color: #ffffff;
  border-radius: 4px;
  background-image: url("/images/accdk_2016_end.jpg");
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}

.date h1 {
  color: #569bbe;
}
