.sign_up_box, .program_box {
  background-color: #c6c6bc;
  visibility: hidden;
}

.next_year {
  min-height: 600px;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: url("/images/accdk_2015_end_fading.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.date {
  background-color: #ffffff;
  border-radius: 4px;
  background-image: url("/images/accdk_2015_end_fading.png");
  min-height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
}

.date h1 {
  color: #569bbe;
}



