.org_box {
  @extend .col-sm-6 !optional;
  @extend .col-lg-4 !optional;
  @extend .col-md-4 !optional;
}
.org_cont_box {
  @extend .col-sm-6 !optional;
  @extend .col-lg-6 !optional;
  @extend .col-md-6 !optional;
}

.organizers{
  background-color: white;
  min-height: 400px;
  background-image: url("/images/organizers_background.jpg");
  background-position: center 10%;
  background-repeat: no-repeat;
}

div.well.inner{
  background-color: rgba(255,255,255,0.8);
}
